$primary: #499537;
$secondary: #ecf4eb;
$drak: #29211b;
$gray: rgba(41,33,27,.7);

$font-s-base: 1rem;
$font-s-s: 0.75rem;
$font-s-m: 1.25rem;
$font-s-l: 1.5rem;

$max-width: 1140px;



$space: 4;


$helper-sizes:(
    'xxs': 5px,
    'xs': 10px,
    's': 20px,
    'm': 35px,
    'l': 50px,
    'xl': 100px
);

$helper-flex:(
    'center':  center,
    'between': space-between,
    'around': space-around,
    'start': flex-start,
    'end': flex-end,
    'stretch': stretch,
    'baseline': baseline
);